/* css reset */
*{
      margin: 0;
      padding: 0;
      color: rgb(3, 243, 3);
}

body{
      background: url(../images/bg.jpg) fixed ;
      /* background-image: url(../images/bg.jpg) fixed; */
      /* position: relative; */
      /* opacity: 1; */
      /* background-position: fixed; */
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      
}

.container{
      color: white;
      position: absolute;
      top: 37%;
      left: 28%;
      width: 55%;
      
}

.container h1{
      font-size: 40px;
      border-bottom: 5px solid purple;
      margin-bottom: 15px;
      padding: 13px 0;
      display: inline-block;
      font-weight: bold;
      text-transform: uppercase;
      
      /* text-align: center; */
      /* align-items: center; */
}


.box{
      width: 100%;
      border-bottom: 2px solid purple;
      margin: 32px 0px;
}
.box input{
      width: 75%;
      border: none;
      outline: none;
      color: rgb(252, 1, 1);
      
      padding: 5px 10px;
      font-size: 20px;
      background: none;
}

.box i{
      width: 25px;

      text-align: center; 
}

.btn{
      cursor: pointer;
      outline: none;
      margin: 25px 0;
      padding: 10px 21px;
      border-radius: 10px;
      border: 2px solid purple;
      font-size: 15px;
      color: white;
      background: none;
      font-weight: bold;
}

.btn:hover{
      cursor: pointer;
      outline: none;
      margin: 25px 0;
      padding: 10px 21px;
      border-radius: 10px;
      border: 2px solid purple;
      font-size: 15px;
      color: purple;
      background: white;
      font-weight: bold;
}
